*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


/*HEADER*/

header{
    background-color: orange;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 1;
}

.nav{
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
}

a{
    text-decoration: none;
    color: white;
    margin-right: 10px;
}

a:hover{
    text-decoration: underline;
}

.image{
    align-items: center;
}

.image img{
    height: 50px;;
}

.spacing{
    margin-left: 10px;
}

i{
    color: white;
}



/*MAIN*/

main{
    width: 80%;
    margin: auto;
    margin-top: 60px;
}

section{
    display: flex;
}

.container{
    width: calc( 100% / 3 );
    padding: 1%;
    position: relative;
}

/*IMMAGINI*/
.img{
    width: 100%;
    display: block;
}

.img2{
    display: none;
}

.container:hover .img1{
    display: none;
}

.container:hover .img2{
    display: block;
}

.heart{
    position: absolute;
    top: 7%;
    right: 3%;
    border: 1px solid white;
    padding: 5px;
    background-color: white;
}

.black{
    color:black
}

.sconti{
    position: absolute;
    bottom: 20%;
}

.red{
    background-color: red;
    color: white;
    padding: 2px;
}

.green{
    background-color: green;
    color: white;
    padding: 2px;
}


/*SCRITTE SOTTO LE IMMAGINI*/

.brand, .price{
    font-size: 14px;
}

.model, .redw{
    font-weight: bold;
}

.redw{
    color: red;
}

.old-price{
    text-decoration: line-through;
    color: rgb(151, 151, 151);
}


/*FOOTER*/
footer{
    background-color: black;
    color: white;
    height: auto;
    margin-top: 25px;
    width: 100%;
    
}

.footer-settings{
    width: 80%;
    margin: auto;
    padding: 25px 25px;
    display: flex;
    justify-content: space-between;
}

#azienda{
    font-weight: bold;
    font-size: 30px;
}

#social{
    font-weight: bold;
}

.fa-brands{
    font-size: 27px;
}